@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --font-family: 'Press Start 2P', cursive;
    --bg-color: #2E0249;
    --primary-color: #F806CC;
    --secondary-color: #A91079;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h2 {
    font-size: 4em;
    text-shadow: 5px 4px #970b6b;
}

h1 {
    font-size: 4em;
    text-shadow: 5px 4px #970b6b;
}

h3 {
    font-size: 2em;
    margin-top: 30px;
    color: var(--secondary-color);
    text-shadow: 2px 2px #6c094c;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px dashed var(--secondary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: var(--primary-color);
    padding-left: 25px;
    padding-top: 25px;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top:20px;
    font-family: var(--font-family);
}

@media screen and (max-width: 600px) {
   
    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
        margin-top: 15px;
    }

    .box {
        font-size: 2em;
        padding: 5px;
        margin: 10px;
        padding-left: 15px;
        padding-top: 15px;
    }
}